# GitHub Packages registry for @lattice scope
@lattice:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}

# Use public npm registry for everything else
registry=https://registry.npmjs.org/
